

@charset "utf-8";
/* CSS Document */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
font-family: sans-serif;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}

body {
margin: 0;
padding: 0px;
background-color: #ffffff;
}


h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}
p{
	margin:0;
	padding:0;
}
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}
a{
	text-decoration:none;
}



abbr[title] {
  border-bottom: 1px dotted;
}


b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

mark {
  color: #000;
  background: #ff0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}
.clr{
	clear:both;
}

ol, ul{
	margin:0;
	padding:0;
	list-style:none;
}
.pic{
width:100%;
display:block;
}
.pic img{
width:100%;
display:block;
}


.left{
float:left;
}
.right{
float:right;
}
.width{
width:100%;
}
.container{
width:1300px;
margin:auto;
}
.top_bar {
background-color:#111111;
width:100%;
height:40px;
}
ul.top_links{
	padding:0;
	margin:0px;
	list-style:none;
	float:left;
}
.top_links li {
  background: /*savepage-url=../images/top_arrow.png*/ var(--savepage-url-16) no-repeat scroll 0 5px rgba(0, 0, 0, 0);
  display: inline-block;
  margin: 0;
  padding: 0;
}
.top_links li a {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  padding: 0 20px 0 20px;
}
.top_links li a:hover {
  color: #9B9B9B;
}

.top_link{
width:566px;
display:inline-block;
vertical-align:top;
margin-left:0px;
}
.social_part {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left: 14px;
    padding-top: 4px;
}
.fb_icon {
    display: inline-block;
    background: #1069BB none repeat scroll 0px 0px;
    height: 23px;
    padding-top: 9px;
    line-height: 154px;
    text-align: center;
    width: 34px;
    border-radius: 20px;
}
.fb_icon a {
  display: inline-block;
}
.fb_icon img {
  display: block;
}
.fb_icon:hover {
  background: none repeat scroll 0 0 #F7C51E;
}


.tw_icon {
    display: inline-block;
    background: #28A0EC none repeat scroll 0px 0px;
    height: 23px;
    padding-top: 9px;
    line-height: 154px;
    text-align: center;
    width: 34px;
    border-radius: 20px;
}
.tw_icon a {
  display: inline-block;
}
.tw_icon img {
  display: block;
}
.tw_icon:hover {
  background: none repeat scroll 0 0 #F7C51E;
}


.gp_icon {
    display: inline-block;
    background: #DD4B39 none repeat scroll 0px 0px;
    height: 23px;
    padding-top: 9px;
    line-height: 154px;
    text-align: center;
    width: 34px;
    border-radius: 20px;
}
.gp_icon a {
  display: inline-block;
}
.gp_icon img {
  display: block;
}
.gp_icon:hover {
  background: none repeat scroll 0 0 #F7C51E;
}


.in_icon {
    display: inline-block;
    background: #F051A5 none repeat scroll 0px 0px;
    height: 23px;
    padding-top: 9px;
    line-height: 154px;
    text-align: center;
    width: 34px;
    border-radius: 20px;
}
.in_icon a {
  display: inline-block;
}
.in_icon img {
  display: block;
}
.in_icon:hover {
  background: none repeat scroll 0 0 #F7C51E;
}
.logo_back{
width:100%;
background-image:/*savepage-url=../images/logo_back.jpg*/var(--savepage-url-22);
background-repeat:repeat-x;
}
.logo{
width:295px;
display:inline-block;
vertical-align:top;
margin:15px 0px;
}
.menu_part{
width:800px;
display:inline-block;
vertical-align:top;
margin-left:160px;
margin-bottom:0PX;
}
.gif_nav{
float:right;
margin-right:10px;
margin-top:15px;}

.pad_01{
padding-top:19px;
}
.navi_part{
width:1146px;
margin:auto;
position: relative;
z-index: 1000;
margin-top:-36px;
}

.navigation{
width:225px;
display:inline-block;
vertical-align:top;
}
.text_01{
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
font-weight:normal;
line-height: 19px;
color: #055F82;
padding-top:10px;
padding-bottom:15px;
}
.text_01 a{
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
font-weight:normal;
line-height: 19px;
color: #055F82;
padding-top:10px;
padding-bottom:15px;
}
.text_01 a:hover{
color: #EF770D;
}

.grapic_back{
background-image:/*savepage-url=../images/grapic_back.jpg*/var(--savepage-url-36);
background-repeat:repeat;
padding-bottom:15px;
padding-top:30px;
width:100%
}

.text_02{
font-family: 'Signika', sans-serif;
font-size: 22px;
font-weight:normal;
line-height: 19px;
color: #131313;
}
.text_03{
font-family: 'Signika', sans-serif;
font-size: 15px;
font-weight:normal;
line-height: 19px;
color: #424242;
padding-top:8px;
}
.main_left{
width:860px;
display:inline-block;
vertical-align:top;
}

.main_right{
width:262px;
display:inline-block;
vertical-align:top;
margin-left:19px;
margin-top:34px;
}
.mainpart_01{
width:263px;
display:inline-block;
vertical-align:top;
margin-right:31px;
margin-top:34px;
margin-left:0px;
}
.mainpart_01:nth-child(3n) {
    margin-right: 0px;
}
.blue_back{
background-color:#28A0EC;
margin-bottom:1px;
}
.text_04{
font-family: 'Signika', sans-serif;
font-size: 15px;
font-weight:normal;
color: #ffffff;
padding-top:13px;
padding-left:8px;
}
.text_05{
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
font-weight:normal;
line-height:23px;
color: #000000;
padding-top:18px;
}
.text_06{
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
font-weight:normal;
line-height:23px;
color: #000000;
padding-top:7px;
}
.text_07{
font-family: 'Signika', sans-serif;
font-size: 17px;
font-weight:normal;
color: #000000;
padding-top:5px;
}

.more{
font-family: 'Signika', sans-serif;
font-size: 14px;
font-weight:normal;
line-height:23px;
color: #E85941;
padding-top:18px;
}

.more a{
font-family: 'Signika', sans-serif;
font-size: 14px;
font-weight:normal;
line-height:23px;
color: #E85941;
padding-top:18px;
}

.more a:hover{
color: #76AC1C;
}
.box_shadow{
box-shadow: 0px 5px 3px 2px #4C4C4C;
background-color:#FFFFFF;
}
.product_back{
background-image:/*savepage-url=../images/product_back.jpg*/url();
background-repeat:repeat-x;
height:652px;
background-color: #000000;
}

.pro_text_01{
font-family: 'Signika', sans-serif;
font-size: 29px;
font-weight:normal;
line-height:23px;
color: #ffffff;
padding-top:30px;
padding-bottom:10px;
}
.pro_text_02{
font-family: 'Signika', sans-serif;
font-size: 15px;
font-weight:normal;
line-height:23px;
color: #969696;
padding-top:7px;
}
.deepak_icon {
  background: none repeat scroll 0 0 #272727;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  width: 242px;
  height:138px;
  margin-top:37px;
  margin-right:54px;
  margin-left:0px;
  display: inline-block;
}
.deepak_icon a {
  display: inline-block;
  padding-top:31px;
  padding-bottom:5px;

}
.deepak_icon img {
  display: block;
}
.deepak_icon:hover {
  background: none repeat scroll 0 0 #28A0EC;
}

.deepak_icon:nth-child(4n) {
    margin-right: 0px;
}

.pro_text_03{
font-family: 'Signika', sans-serif;
font-size: 16px;
font-weight:normal;
color: #ffffff;
}
.pro_text_03 a{
font-family: 'Signika', sans-serif;
font-size: 16px;
font-weight:normal;
color: #ffffff;
padding-top:9px;
}
.pro_text_03 a:hover{
color: #ffffff;
}
.order_now{
width:100%;
background-color:#28A0EC;
height:117px;
}
.blue_left{
width:930px;
float:left;
margin-left:0px;
}

.blue_right{
width:213px;
float:right;
margin-top:50px;
margin-left:0px;
}

.text_08{
font-family: 'Signika', sans-serif;
font-size: 30px;
font-weight:normal;
color: #ffffff;
padding-top:30px;
}
.text_09{
font-family: 'Signika', sans-serif;
font-size: 15px;
font-weight:normal;
color: #ffffff;
padding-top:4px;
}
.order_now{
display: block;
}

.order_now a{
background-color:#FDFEFF;
background-image:/*savepage-url=../images/black_aro.png*/var(--savepage-url-59);
background-repeat:no-repeat;
background-position: 28px 20px;
font-family: 'Roboto Condensed', sans-serif;
color:#282828;
font-size:15px;
font-weight:normal;
padding:17px 50px 17px 49px;
border-radius: 3px;

}
.order_now a:hover{
background-color:#F9BC3A;
color:#282828;
}

.client_back{
background-image:/*savepage-url=../images/client_back.jpg*/var(--savepage-url-60);
background-repeat:repeat-x;
height:405px;
width:100%;
}
.client_text_01{
font-family: 'Signika', sans-serif;
font-size: 29px;
font-weight:normal;
line-height:23px;
color: #000000;
padding-top:30px;
}
.client_text_02{
font-family: 'Signika', sans-serif;
font-size: 16px;
font-weight:normal;
line-height:23px;
color: #353535;
padding-top:10px;
padding-bottom:10px;
}
.client_pad01{
padding-top:50px;
}

.copyright{
background-image:/*savepage-url=../images/copyright_back.jpg*/var(--savepage-url-81);
background-repeat:repeat-x;
height:43px;
background-color:#454444;
}

.fter_back{
background-image:/*savepage-url=../images/fter_back.jpg*/var(--savepage-url-73);
background-repeat:repeat;
}
.copyright_text{
font-family: 'Signika', sans-serif;
font-size: 13px;
font-weight:normal;
line-height:23px;
color: #979797;
padding-top:12px;
}

.footer_part{
width:1146px;
margin:auto;

}
.footer_part01{
width:305px;
display:inline-block;
vertical-align:top;
position: relative;
z-index: 1000;
margin-top: -77px;
margin-bottom:15px;
margin-left:0px;
}

.footer_part02{
width:516px;
display:inline-block;
vertical-align:top;
position: relative;
z-index: 1000;
margin-top: -77px;
margin-bottom:15px;
margin-left:10px;
}
.fter_text01 {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    color: #ffffff;
    padding-top: 24px;
	padding-bottom:15px;
}

.ul.company {
margin:0px;
}

.company li {
display: block;
margin-bottom:10px;
line-height:26px;
}

.company li a{
font-family: 'Roboto Condensed', sans-serif;
color:#979797;
font-size:14px;
font-weight:normal;
padding-left:25px;
}
.company li a:hover{
color:#28A0EC;
}
.company li.aro {
background: /*savepage-url=../images/quick_link.png*/ var(--savepage-url-75) no-repeat scroll 0 6px rgba(0, 0, 0, 0);
}

.ul.cont_nav {
margin:0px;
}

.cont_nav li {
display: block;
margin-bottom:10px;
line-height:17px;
}

.cont_nav li:last-child {
margin-bottom: 0;
}

.cont_nav li a{
font-family: 'Roboto Condensed', sans-serif;
color:#979797;
font-size:14px;
font-weight:normal;
padding-left:26px;
}

.cont_nav li a:hover{
color:#F2B505;
}

.prices{
display:none;
padding:5px 0px;
}

.cont_nav li.con01 {
background:/*savepage-url=../images/cnt_01.png*/var(--savepage-url-77) no-repeat;
}
.cont_nav li.con02 {
background:/*savepage-url=../images/cnt_02.png*/var(--savepage-url-78) no-repeat;
}

.fter_text02 {
font-family: 'Roboto Condensed', sans-serif;
color:#979797;
font-size:14px;
font-weight:normal;
line-height:23px;
padding-bottom:10px;
}


.gif_part{
display:block;
}
.gradient {
	background-image: /*savepage-url=../images/gradiant.jpg*/ url();
	background-repeat:repeat-x;
	height: 83px;
	width:100%;
}
.abt_text_03{
font-family: 'Signika', sans-serif;
font-size:26px;
font-weight:normal;
padding-top:23px;
padding-bottom:27px;
line-height:30px;
color:#F64523;
padding-left:0px;
}
.abt_text_04{
font-family: 'Signika', sans-serif;
font-size:26px;
font-weight:normal;
padding-top:27px;
padding-bottom:27px;
line-height:30px;
color:#3C3C3C;}

.orange_line {
display:inline-block;
vertical-align:top;
width:10%;
background-image:/*savepage-url=../images/orange_line.jpg*/url();
background-repeat:repeat-x;
height:3px;
}

.gray_line {
display:inline-block;
vertical-align:top;
width:89%;
background-image:/*savepage-url=../images/gray_line.jpg*/url();
background-repeat:repeat-x;
height:3px;
}
.page_data {
width:100%;
margin-top:15px;
padding-bottom:100px;

}
.about_slide {
width:100%;
background-image:/*savepage-url=../images/about_img.jpg*/url();
background-repeat:no-repeat;
height:360px;
margin-top:1PX;
}


.intro_slide {
width:100%;
background-image:/*savepage-url=../images/introduction_img.jpg*/url();
background-repeat:no-repeat;
height:360px;
margin-top:1PX;
}
.desk_slide {
width:100%;
background-image:/*savepage-url=../images/management_img.jpg*/url();
background-repeat:no-repeat;
height:360px;
margin-top:1PX;
}
.portfolio_slide {
width:100%;
background-image:/*savepage-url=../images/portfolio_img.jpg*/url();
background-repeat:no-repeat;
height:360px;
margin-top:1PX;
}
.contact_slide{
width:100%;
background-image:/*savepage-url=../images/contact_img.jpg*/url();
background-repeat:no-repeat;
height:360px;
margin-top:1PX;
}
.career_slide{
width:100%;
background-image:/*savepage-url=../images/career_slide.jpg*/url();
background-repeat:no-repeat;
height:360px;
margin-top:1PX;
}
.services_slide{
width:100%;
background-image:/*savepage-url=../images/services_img.jpg*/url();
background-repeat:no-repeat;
height:360px;
margin-top:1PX;
}


.abt_text_01{
font-family: 'Roboto Condensed', sans-serif;
font-size:32px;
font-weight:normal;
padding-top:100px;
text-shadow: 1px 2px #000000;
line-height:30px;
color:#FFFFFF;
padding-bottom:10px;}

.abt_text_05{
font-family: 'Roboto Condensed', sans-serif;
font-size:32px;
font-weight:normal;
padding-top:100px;
text-shadow: 1px 2px #000000;
line-height:30px;
color:#F78B21;
padding-bottom:10px;}

.cont_slide {
width:100%;
background-image:/*savepage-url=../images/contact_img.jpg*/url();
background-repeat:no-repeat;
height:360px;
}

.abt_text_02{
font-family: 'Roboto Condensed', sans-serif;
font-size:23px;
font-weight:normal;
padding-top:20px;
text-shadow: 1px 1px #000000;
line-height:30px;
color:#FFFFFF;
}
.pages_box{
width:1146px;
margin:auto;
}
.run_text_01{
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
font-weight:normal;
line-height:25px;
color:#3C3C3C;
}

.run_text_bold{
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
font-weight:normal;
line-height:25px;
color:#EB5707;
}

.run_text_02{
font-family: 'Roboto Condensed', sans-serif;
font-size:18px;
font-weight:normal;
padding-top:20px;
line-height:30px;
color:#EB5707;
}
.icon_left{
padding-left:0px;
}
.ul.abouticon {
  margin:0px;
}

.abouticon li {
  display: block;
  margin-bottom:10px;
  line-height:26px;
}

.abouticon li a{
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
font-weight:normal;
line-height:30px;
padding-left:35px;
color:#0595AD;
}
.abouticon li a:hover{
color:#479DAB;
}
.abouticon li.icon {
	  background: /*savepage-url=../images/icon_2.png*/ url() no-repeat scroll 0 6px rgba(0, 0, 0, 0);
}
.run_text_04{
font-family: 'Roboto Condensed', sans-serif;
font-size:18px;
font-weight:normal;
line-height:18px;
color:#3C3C3C;
}
.vision_round {
	display:inline-block;
	vertical-align:top;
	width:44%;
	margin-right:30px;
	border-radius: 5px;
	border: 1px solid #CEC7C7;
	padding:15px;
}
.about_fter {
display: inline-block;
vertical-align:top;
margin-right:10px;
margin-left:0px;
}
.about_fter_content {
display: inline-block;
vertical-align:top;
margin-left:10px;
width:75%;
}
.about_icon {
background: none repeat scroll 0 0 #4B4D4D;
border-radius: 54%;
height: 80px;
padding-top: 20px;
text-align: center;
width: 100px;
}
.about_icon a {
  display: inline-block;
}
.about_icon img {
  display: block;
}
.about_icon:hover {
  background: none repeat scroll 0 0 #EB5707;
}
.mission_01 {
display: inline-block;
vertical-align:top;
margin-left:0px;
width:65%;
}
.mission_02 {
display: inline-block;
vertical-align:top;
margin-left:10px;
width:33%;
}

.ul.blue_text {
  margin:0px;
}

.blue_text li {
  display: block;
  margin-bottom:10px;
  line-height:26px;
}

.blue_text li a{
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
font-weight:normal;
line-height:30px;
padding-left:17px;
color:#0595AD;
}
.blue_text li a:hover{
color:#479DAB;
}
.blue_text li.icon2 {
	  background: /*savepage-url=../images/blue_icon.jpg*/ url() no-repeat scroll 0 11px rgba(0, 0, 0, 0);
}


.menu_text {
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
font-weight:normal;
line-height:30px;
color:#0595AD;
}
.tripal_divide {
display: inline-block;
vertical-align:top;
margin-right:20px;
width:31%;
}
.tripal_divide2 {
display: inline-block;
vertical-align:top;
margin-right:0px;
width:30%;
}
.table_01 {
background-color:#999999;
}
.table_02 {
background-color:#ffffff;
font-family: 'Roboto', sans-serif;
font-size:14px;
font-weight:normal;
line-height:18px;
color:#3C3C3C;
padding: 10px 10px 10px 10px;
}
.table_03 {
background-color:#797979;
font-family: 'Roboto', sans-serif;
font-size:14px;
font-weight:normal;
line-height:18px;
color:#ffffff;
padding: 10px 10px 10px 10px;
}

.run_text_03{
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
font-weight:normal;
line-height:30px;
color:#0595AD;
}
.team_left {
display: inline-block;
vertical-align:top;
width:12.4%;
margin-left:0px;
}
.team_right {
	display: inline-block;
	vertical-align:top;
	width:87%;
	height:188px;
	margin-left:0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #DED5D5;
	border-right-color: #DED5D5;
	border-bottom-color: #DED5D5;
	margin-top:0px;
}

.team_pad{
padding:13px;}

.team_text{
font-family: 'Roboto Condensed', sans-serif;
font-size:15px;
font-weight:normal;
line-height:28px;
padding:5px 10px 10px 10px;
color:#3C3C3C;
background-color:#F7F5F5;}
.team_text_01{
font-family: 'Roboto Condensed', sans-serif;
font-size:15px;
font-weight:normal;
color:#EB5707;}

.team_text_02 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:18px;
	font-weight:normal;
	padding:0px 10px 10px 10px;
	color:#EB5707;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.team_text_03 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:19px;
	font-weight:normal;
	color:#000000;

}
.aro_left{
float:left;
background-color:#28A0EC;
margin-top:10px;
}
.head_text01{
font-family: 'Roboto Condensed', sans-serif;
font-size: 22px;
font-weight:normal;
color: #ffffff;
padding:6px 10px;
}

.map_round {
    border: 2px solid #CBCBCB;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

.cnt_01 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #EB5707;
}

.cnt_02 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #2B2B2B;
}
.portfolio {
width:24%;
display:inline-block;
margin-right:4px;
margin-left:4px;
margin-bottom:20px;
box-shadow: 0px 0px 5px #888888;
background:#FFFFFF;
}


.portfolio_02 {
width:24%;
display:inline-block;
margin-right:0px;
margin-bottom:15px;
box-shadow: 0px 0px 5px #888888;
background:#FFFFFF;
margin-left:0px;
}

.portfolio_pad {
padding:7px;
}
.port_text_01{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
	font-weight:normal;
    color:#454545;
	line-height:40px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #BABABA;
}
.port_text_02{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:30px;
    color:#EB5707;
}

.port_text_02 a{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:30px;
    color:#EB5707;
}

.port_text_02 a:hover{
color:#1a1a1a;
text-decoration:underline;
}

/*paging css*/

/** First Design Pagination **/
.paginate.pag1 { /* first page styles */ }
 
.paginate.pag1 li { font-weight: normal;
font-family: 'Roboto Condensed', sans-serif;
font-size:12px;

}
 
.paginate.pag1 li a {
  display: block;
  float: left;
  color: #191919;
  background: #e9e9e9;
  text-decoration: none;
  padding: 5px 7px;
  margin-right: 6px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .7), 0px 1px 3px rgba(0,0,0, .1);
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.7);
}
.paginate.pag1 li a:hover {
  background: #eee;
  color: #EB5707;
}
.paginate.pag1 li a:active {
  -webkit-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
}
 
.paginate.pag1 li.single, .paginate.pag1 li.current {
  display: block;
  float: left;
  border: solid 1px #c0c0c0;
  padding: 5px 7px;
  margin-right: 6px;
  border-radius: 3px;
  color: #444;
}
.requesttext_01 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    color: #3C3C3C;
}
.request_left{
display:inline-block;
width:156px;
vertical-align: top;
margin-top:20px;
margin-right:20px;
}
.request_right{
display:inline-block;
width:300px;
vertical-align: top;
margin-top:20px;

}
.requesttext_02 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: #3C3C3C;
}
.requesttext_03 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: #F64523;
}
.request_field {
    background-color:#FFFFFF
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #3C3C3C;
	width:220px;
	height:26px;
	border: dashed 1px #999999;
	border-radius: 5px;
	padding-left:5px;
}
.request_area {
    background-color:#FFFFFF
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #3C3C3C;
	width:280px;
	height:70px;
	border: dashed 1px #999999;
	border-radius: 5px;
	padding-left:5px;
}

.sub_bt {
cursor: pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding: 6px 30px;
background: #28A0EC; /*the colour of the button*/
font-family: 'Roboto Condensed', sans-serif;
color: #ffffff;
font-size: 16px;
font-weight: normal;
border: 0px;
margin-top: 15px;
margin-right: 15px;

border-radius: 5px;
}

.sub_bt:hover, gobutton:focus {
background-color: #2D2D2D;
color: #ffffff;
}

.tab_01 {
	background-color: #CCCCCC;
}
.tab_02 {
	background-color: #FFFFFF;
	  font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 12px;
}
.tab_03 {
	background-color: #E6E6E6;
	 font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 12px;
}
.tab_04 {
	background-color: #FFCC00;
	  font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 12px;
}
.blched {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #242323;
    line-height: 18px;
}
.package_hed02 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    color: #E0722A;
    padding-top: 7px;
}
.package_hed {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    padding-top: 7px;
}

.tab_data{
margin-top:15px;
}

.share_box{
position:fixed;
width:41px;
top:30%;
right:0%;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.rollover a {    
display : block;
width : 41px;
height :198px;
background-image:/*savepage-url=../images/request_btn.png*/var(--savepage-url-82); 
}

.rollover a:hover {
display : block;
width : 41px;
height :198px;
background-image:/*savepage-url=../images/request_btn02.png*/url(); 
}

.map{
display:inline-block;

vertical-align:top;
width:541px;
background-image:/*savepage-url=../images/india_map02.jpg*/url();
background-repeat:no-repeat;
height:637px;
}
.map_left{
display:inline-block;
vertical-align:top;
width:599px;
}
.portfolio_05 {
    width: 47%;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px #888888;
    background: #FFFFFF;
    margin-left: 0px;
}
.punjab {
    position: absolute;
    padding-top: 162px;
    padding-left: 130px;
	z-index:4000;
}



.Uttaranchal {
    position: absolute;
    padding-top: 171px;
    padding-left: 230px;
	z-index:3000;
}

.delhi {
    position: absolute;
    padding-top: 201px;
    padding-left: 183px;
	z-index:3000;
}

.rajasthan {
    position: absolute;
    padding-top: 245px;
    padding-left: 94px;
	z-index:3000;
}

.up {
    position: absolute;
    padding-top: 249px;
    padding-left: 217px;
	z-index:2000;
}

.gujrat {
    position: absolute;
    padding-top: 311px;
    padding-left: 66px;
    z-index: 3000;
}

.mp {
    position: absolute;
    padding-top: 326px;
    padding-left: 149px;
    z-index: 2000;
}

.mahrashtra {
    position: absolute;
    padding-top: 387px;
    padding-left: 110px;
    z-index: 2000;
}

.ap {
    position: absolute;
    padding-top: 424px;
    padding-left: 191px;
    z-index: 1000;
}

.karnataka {
    position: absolute;
    padding-top: 500px;
    padding-left: 191px;
    z-index: 1000;
}
.karnataka {
    position: absolute;
    padding-top: 508px;
    padding-left: 126px;
    z-index: 1000;
}
.jammu {
    position: absolute;
    padding-top: 92px;
    padding-left: 123px;
    z-index: 5000;
}
.orissa {
    position: absolute;
    padding-top: 363px;
    padding-left: 303px;
    z-index: 1000;
}
.jharkhand {
    position: absolute;
    padding-top: 313px;
    padding-left: 303px;
    z-index: 1000;
}

.map_text{
font-family: 'Roboto Condensed', sans-serif;
font-size: 12px;
font-weight: normal;
color: #000000;
}

.map_text a{
font-family: 'Roboto Condensed', sans-serif;
font-size: 12px;
font-weight: normal;
color: #000000;
}

.map_text a:hover{
color: #FF0808;
}

.frame_lenth{
height:230px;
}

.iso_certfied {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    margin-left: 236px;
    padding-top: 11px;
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.product-drop{
width: 276px;
height:40px;
    margin-top: 10px;
	margin-bottom: 15px;
    color: #333333;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: normal;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}

.payment_box{
width:600px;
margin:auto;
margin-top:20px;}

.payment_box_back{
width:100%;
background-image:/*savepage-url=../images/logo_back.jpg*/var(--savepage-url-22);
background-repeat:repeat-x;
border-radius: 5px;
height:95px;
}

.payment_logo{
width:295px;
display:inline-block;
vertical-align:top;
margin:15px 15px;
}

.payment_home{
float:right;
margin-top:20px;
}

.button_payment{
display: block;
margin-top:22px;
margin-right:20px;
}

.button_payment a{
background-color:#2a487a;
font-family: 'Roboto Condensed', sans-serif;
color:#fff;
font-size:15px;
font-weight:NORMAL;
padding: 10px 15px;
border-radius: 5px;

}
.button_payment a:hover{
background-color:#28a0ec;
}
.payment_head{
background-color:#28a0ec;
font-family: 'Roboto Condensed', sans-serif;
color:#fff;
font-size:21px;
font-weight:NORMAL;
padding: 6px 15px;

}

.payment_bdr{
border: 1px solid #28a0ec;
padding:12px 15px;
background-color:#eeeeee;
}

.payment_text{
font-family: 'Roboto Condensed', sans-serif;
color:#565656;
font-size:15px;
font-weight:normal;
float:left;
width:200px;
margin:5px 0px;
}

.payment_field{
float:left;
width:300px;
margin:5px 0px;
}

.payment_textfield{
font-family: 'Roboto Condensed', sans-serif;
color:#565656;
font-size:15px;
font-weight:normal;
float:left;
width:270px;
height:24px;
border: 1px #888888 dotted;
background-color:#FFFFFF;
border-radius: 5px;
padding:5px 5px;
}
.payment_listmenu{
font-family: 'Roboto Condensed', sans-serif;
color:#565656;
font-size:15px;
font-weight:normal;
float:left;
width:283px;
height:38px;
border: 1px #888888 dotted;
background-color:#FFFFFF;
border-radius: 5px;
padding:5px 5px;
}

.payment_textarea{
font-family: 'Roboto Condensed', sans-serif;
color:#565656;
font-size:15px;
font-weight:normal;
float:left;
width:270px;
height:50px;
border: 1px #888888 dotted;
background-color:#FFFFFF;
border-radius: 5px;
padding:5px 5px;
}

.gobutton{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:8px 15px; /*add some padding to the inside of the button*/
background:#28a0ec; /*the colour of the button*/
font-family: 'Signika', sans-serif;
color:#fff;
font-size:15px;
font-weight:normal;
border:0PX;
margin-top:10px;
margin-bottom:20px;
border-radius:5px;
}

.gobutton:hover{
background-color :#171914; 
color:#fff;
}


@media all and (min-width:901px) and (max-width:1024px) {
.container {
width: 100%;
}

.pages_box{
width: 99%;
}
.social_part {
width: 151px;
margin-left: 12px;
}

.iso_certfied {
    margin-left: 88px;
}

.top_link{
margin-left:7px;
}

.logo {
    width: 295px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 8px;
}

.menu_part {
    width: 686px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.navi_part {
width: 100%;
}

.navigation {
    width: 197px;
    display: inline-block;
    vertical-align: top;
}

.deepak_icon {
    width: 223px;
    height: 138px;
    margin-top: 37px;
    margin-right: 22px;
    margin-left: 7px;
}

.blue_left {
    width: 779px;
    float: left;
    margin-left: 7px;
}

.footer_part {
width: 100%;
}

.footer_part01{
width:250px;
margin-left:10px;
}

.footer_part02 {
width: 464px;
}

.main_left {
    width: 764px;
    display: inline-block;
    vertical-align: top;
}
.main_right {
    width: 226px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 34px;
}
.mainpart_01 {
    width: 243px;
    display: inline-block;
    vertical-align: top;
    margin-right: 7px;
    margin-top: 34px;
    margin-left: 4px;
}

.portfolio {
width:27.6%;
display:inline-block;
margin-right:25px;
margin-left:25px;
margin-bottom:20px;
box-shadow: 0px 0px 5px #888888;
background:#FFFFFF;
}

.portfolio_02 {
    width: 28.2%;
    margin-left: 17px;
    margin-bottom: 15px;
    margin-right: 30px;
}
.abt_text_03{
padding-left:10px;
}
.vision_round {
    width: 93%;
    margin-left: 5px;
    margin-bottom: 10px;
}

.team_right {
    width: 84%;
    height: 188px;
    margin-left: 22px;
    border-left: 1px solid #DED5D5;
}

.map_left {
    display: inline-block;
    vertical-align: top;
    width: 582px;
}
.map {
display: inline-block;
vertical-align: top;
    width: 408px;
background-image:/*savepage-url=../images/india_map03.jpg*/url();
background-repeat:no-repeat;
height:637px;
}

.punjab {
    position: absolute;
    padding-top: 121px;
    padding-left: 95px;
    z-index: 4000;
}

.Uttaranchal {
    position: absolute;
    padding-top: 128px;
    padding-left: 176px;
    z-index: 3000;
}

.delhi {
    position: absolute;
    padding-top: 150px;
    padding-left: 139px;
    z-index: 3000;
}
.rajasthan {
    position: absolute;
    padding-top: 187px;
    padding-left: 65px;
    z-index: 3000;
}

.up {
    position: absolute;
    padding-top: 173px;
    padding-left: 194px;
    z-index: 2000;
}
.gujrat {
    position: absolute;
    padding-top: 235px;
    padding-left: 48px;
    z-index: 3000;
}
.mp {
    position: absolute;
    padding-top: 247px;
    padding-left: 97px;
    z-index: 2000;
}
.mahrashtra {
    position: absolute;
    padding-top: 293px;
    padding-left: 74px;
    z-index: 2000;
}
.ap {
    position: absolute;
    padding-top: 322px;
    padding-left: 147px;
    z-index: 1000;
}
.karnataka {
    position: absolute;
    padding-top: 382px;
    padding-left: 90px;
    z-index: 1000;
}

.jammu {
    position: absolute;
    padding-top: 72px;
    padding-left: 83px;
    z-index: 5000;
}
.orissa {
    position: absolute;
    padding-top: 276px;
    padding-left: 224px;
    z-index: 1000;
}
.jharkhand {
    position: absolute;
    padding-top: 238px;
    padding-left: 219px;
    z-index: 1000;
}

.frame_lenth {
    height: 371px;



}
}

@media all and (min-width:320px) and (max-width:480px) {
.container {
width: 100%;

}

.pages_box{
width: 95%;
}

.top_link {
    width: 96%;
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
}
.top_links li a {
padding: 0 4px 0 17px;
font-size: 10px;
}
.social_part {
display: none;

}

.frame_lenth{
height:400px;
}


.logo {
    width: 82%;
    display: inline-block;
    vertical-align: top;
    margin: 15px 13px;
}
.gif_part{
display:none;
}
.menu_part {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
	margin-bottom:1PX;
}

.navi_part {
width: 100%;
margin-top: -36px;
}
.navigation {
    width: 155px;
    display: inline-block;
    vertical-align: top;
}
.pad_01 {
    padding-top: 0px;
}

.iso_certfied {
    margin-left: 88px;
	display:none;
}

.main_left {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.text_02 {
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 19px;
    color: #131313;
}
.text_03 {
    font-family: 'Signika', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #424242;
    padding-top: 8px;
}
.mainpart_01 {
    width: 97%;
    display: inline-block;
    vertical-align: top;
    margin-right: 0px;
    margin-top: 34px;
    margin-left: 5px;
}
.main_right {
    width: 97%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 34px;
}

.prices{
display:block;
}


.pro_text_01 {
font-size: 24px;
}

.pro_text_02 {
font-size: 13px;
}
.deepak_icon {
    width: 100%;
    height: 138px;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 0px;

}
.product_back {
    background-image: /*savepage-url=../images/product_back.jpg*/ url();
    background-repeat: repeat-x;
    height: 1863px;
	background-color:#000000;
}
.blue_left {
    width: 96%;
    float: left;
    margin-left: 8px;
}
.text_08 {
    font-family: 'Signika', sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #ffffff;
    padding-top: 18px;
}
.order_now {
    width: 100%;
    background-color: #28A0EC;
    height: 200px;
}
.blue_right {
    width: 213px;
    float: left;
    margin-top: 26px;
	margin-left:10px;
}
.client_text_01 {
 font-size: 24px;
 padding-top: 22px;
}

.client_text_02 {
    padding-top: 5px;
    padding-bottom: 7px;
}
.client_pad01 {
    padding-top: 5px;
}
.client_back {
    background-image: /*savepage-url=../images/client_back.jpg*/ var(--savepage-url-60);
    background-repeat: repeat-x;
    height: 226px;
    width: 100%;
}
.footer_part {
    width: 100%;
}
.footer_part01 {
    width: 94%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1000;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 14px;
}
.footer_part02 {
    width: 94%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1000;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 14px;
}
.copyright{
background-image:/*savepage-url=../images/copyright_back.jpg*/var(--savepage-url-81);
background-repeat:repeat-x;
height:62px;
background-color:#454444;
}

.copyright_text {
font-size: 11px;
}

.head_text01 {
font-size: 14px;
padding: 11px 10px;
}

.abt_text_03 {
padding-left: 9px;
font-size:16px;
}

.abt_text_01 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding-top: 16px;
    text-shadow: 1px 2px #000000;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.abt_text_05 {
font-size: 24px;
}

.portfolio_slide {
 height: 229px;
}

.portfolio {
width:90.6%!important;
display:inline-block;
margin-right:0px;
margin-left:0px;
margin-bottom:20px;
box-shadow: 0px 0px 5px #888888;
background:#FFFFFF;
}

.portfolio_02 {
    width: 89%;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px #888888;
    background: #FFFFFF;
    margin-left: 16px;
}

.abt_text_04 {
font-size: 16px;
}

.mission_01 {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    width: 96%;
}

.mission_02 {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 95%;
}

.intro_slide {
    width: 100%;
    background-image: /*savepage-url=../images/introduction_img.jpg*/ url();
    background-repeat: no-repeat;
    height: 230px;
    margin-top: 1PX;
}

.vision_round {
    display: inline-block;
    vertical-align: top;
    width: 89%;
    margin-right: 0px;
    border-radius: 5px;
    border: 1px solid #CEC7C7;
    padding: 8px;
}

.about_fter {
display: inline-block;
vertical-align:top;
margin-right:10px;
margin-left:84px;
}

.about_fter_content {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    width: 99%;
}

.run_text_04 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 31px;
    color: #3C3C3C;
}

.services_slide {
    width: 100%;
    background-image: /*savepage-url=../images/services_img.jpg*/ url();
    background-repeat: no-repeat;
    height: 230px;
    margin-top: 1PX;
}

.page_data {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 20px;
}

.about_slide {
 height: 230px;
}

.run_text_04 {
font-size: 16px;

}

.tripal_divide {
    display: inline-block;
    vertical-align: top;
    margin-right: 0px;
    width: 98%;
}

.team_right {
    width: 99%;
    height: 293px;
    margin-left: 0px;
    margin-top: 11px;
}

.team_left {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 75px;
}

.contact_slide {
    width: 100%;
    background-image: /*savepage-url=../images/contact_img.jpg*/ url();
    background-repeat: no-repeat;
    height: 230px;
    margin-top: 1PX;
}

.career_slide {
    height: 230px;
    margin-top: 1PX;
}
.request_left {
    display: inline-block;
    width: 276px;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 20px;
}

.request_right {
    display: inline-block;
    width: 292px;
    vertical-align: top;
    margin-top: 20px;
}

.sub_bt {
margin-LEFT: 89px;
}

.map {
display:none;
width:99%
}

.map_left {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.portfolio_05 {
    width: 92%;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px #888888;
    background: #FFFFFF;
    margin-left: 12px;
}
.payment_box {
    width: 100%;
    margin: auto;
        margin-top: auto;
    margin-top: 0px;
}
.payment_logo {
    width: 186px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 15px;
}
.button_payment a {
    background-color: #2a487a;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 11px;
    font-weight: NORMAL;
    padding: 6px 11px;
    border-radius: 5px;
}
.button_payment {
    display: block;
    margin-top: 12px;
    margin-right: 20px;
}
.payment_box_back {
    width: 100%;
    background-image: /*savepage-url=../images/logo_back.jpg*/ var(--savepage-url-22);
    background-repeat: repeat-x;
    border-radius: 5px;
    height: 73px;
}
.payment_field {
    float: left;
    width: 291px;
    margin: 5px 0px;
}
.top_bar {
    background-color: #111111;
    width: 100%;
    height: 55px;
}
}
