body {
    margin: 0px;
    padding: 0px;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif !important;
    background: #fff;
    color: #666;
    text-align: left;
    line-height: 20px !important;
}

h1 {
    font-size: 25px;
    color: #333;
    line-height: 30px;
    text-decoration: none;
    font-weight: 500;
    text-align: left;
    margin-top: 0 !important;
}

h1 strong {
    color: #0786be;
    font-weight: 600;
}

h2 {
    font-size: 18px;
    color: #333;
    text-align: left;
    border-bottom: #3fd83f 0px solid;
    padding: 0;
    font-weight: 600;
}

h2 span {
    padding: 5px 10px;
    background: #fff;
    border: #3fd83f 1px solid;
    margin-top: -25px;
    position: absolute;
    margin-left: -40px;
}

h3 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
    color: #F00;
}

h4 {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}

#wrapper-header {
    margin: auto;
    text-decoration: none;
}

#wrapper-header #logo {
    padding-left: 0px;
}

#wrapper-header .res {
    margin-top: 30px;
}

#wrapper-header .res span {
    font-size: 16px;
    font-weight: 500;
    color: #fe6700;
    text-align: left;
}

#wrapper-header .res strong {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: #000;
    text-align: center;
}

#wrapper-header #right {
    float: right;
}

#wrapper-header #right .media {
    float: left;
    margin-left: 10px;
    font-size: 14px;
    line-height: 30px;
}

#menu {
    width: 100%;
    background: #0786be;
    border-top: #ff6600 0px solid;
    margin: auto;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav ul li {
    float: left;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

nav ul li {
    float: left;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border-right: #0786be 1px solid;
    height: 50px;
    position: relative;
    /*background:url(../images/menu-line.jpg) right no-repeat;*/
}

nav ul li:last-child {
    background: none;
    border: 0;
}

nav ul li a {
    display: block;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-weight: 500;
}

nav ul li a:hover {
    color: #0786be;
    background: #e6e6e6;
}

nav ul li a.active {
    background: #e6e6e6;
    color: #0786be;
}

nav ul li ul {
    position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    display: none;
    z-index: 999999999999;
    border-bottom: #d4d4d4 3px solid;
    background: #e6e6e6;
    font-weight: normal;
}

nav ul li ul li {
    float: none !important;
    background-image: none;
    width: 260px;
    height: 40px !important;
    line-height: 40px !important;
    padding-right: 0px;
    border: 0;
}

nav ul li ul li a {
    display: block;
    padding: 0px 15px;
    height: 40px !important;
    line-height: 40px !important;
    color: #0786be;
    border-bottom: solid 1px #d4d4d4;
    font-weight: normal;
}

nav ul li ul li a:hover {
    background: #0786be;
    color: #fff;
}

nav ul li:hover ul {
    display: block;
}

.slicknav_menu {
    display: none;
}

.advisor {
    float: right;
    background: #2d2d2d;
    padding: 0px 15px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
}

.advisor a {
    padding: 0px 15px;
    color: #fff;
}

.advisor a:hover {
    color: #fff !important;
    background: #0786be !important;
}

a:hover {
    color: #333;
}

#banner {
    width: 100%;
    margin-bottom: 30px;
}

#leftbox {
    background: #e7ebf5;
    color: #422f01;
    font-size: 13px;
    margin-bottom: 20px;
}

#leftbox h2 {
    background: #0786be;
    margin-top: 0;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    font-weight: 400;
    border: 0;
}

#leftbox .leftbox ul {
    margin: 0px;
    list-style: none;
    padding: 0;
}

#leftbox .leftbox ul li {
    border-bottom: #b98406 1px solid;
    line-height: 30px;
    font-size: 14px;
    color: #422f01;
    background: var(--savepage-url-15) no-repeat left;
    padding-left: 20px;
    margin: 0 10px;
}

#leftbox .leftbox ul li a {
    color: #422f01;
    text-decoration: none;
    font-size: 14px;
    padding: 0px;
    display: block;
}

#leftbox .leftbox li a:hover {
    color: #000 !important;
    text-decoration: none;
}

.news-scroller {
    color: #422f01;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    padding: 10px;
}

.news-scroller .image {
    float: left;
    margin-right: 10px;
}

#ecww-widgetwrapper {
    margin: 25px 0;
    border: #333 2px solid;
}

#ecww-header {
    background: #b98406 url() !important;
}

.our-services {
    background: #f7f5f3;
    line-height: 20px;
    margin-top: 25px;
    text-align: left;
    font-size: 12px;
    padding-bottom: 10px;
}

.our-services h3 {
    background: #0786be;
    line-height: 35px;
    font-size: 19px;
    color: #fff;
    padding: 0 10px;
    margin-top: 0;
    font-weight: 400;
}

.our-services .img {
    float: left;
    margin-right: 10px;
    margin-bottom: 45px;
}

.our-services .readmore {
    line-height: 26px;
    color: #010101;
    padding-left: 10px;
    margin-left: 75px;
    text-align: right;
}

.our-services .readmore a {
    line-height: 26px;
    color: #F00;
}

#bottom-box {
    background: #fff;
    color: #333;
    margin: 25px 15px;
    overflow: hidden;
    padding: 5px 10px;
    border: #f9e4c9 2px solid;
}

#bottom-box h3 {
    color: #0786be;
    text-transform: uppercase;
    line-height: 25px;
    text-align: left;
    font-size: 18px;
}

#bottom-box .img-right {
    float: right;
}

#bottom-box ul {
    padding: 0;
    list-style: none;
    margin-top: 25px;
}

#bottom-box ul li {
    line-height: 30px;
    border-bottom: #f7e3b5 1px solid;
}

.img-right {
    float: right;
    margin-left: 20px;
}

#career {
    text-align: left;
}

#career h2 {
    background: #e4a81a;
    color: #000;
    padding: 5px 10px;
    font-size: 16px;
}

#career .career {
    border: #ccc 1px solid;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 25px;
}

#career .career h3 {
    color: #F00;
    margin-top: 0;
    border-bottom: #ccc 0px solid;
    padding-bottom: 0px;
}

.career-form {
    background: #ececea;
    border: #ccc 1px solid;
    margin: 10px 0;
    padding: 0 15px;
}

.career-form h3 {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border-top: 1px solid #bfbfbf !important;
}

.secation {
    background:
        /*savepage-url=../images/bg-img2.jpg*/
        var(--savepage-url-26) top no-repeat;
    background-size: cover;
    margin: 50px 0;
}

ol li {
    line-height: 22px;
}

.element {
    margin: 0 auto;
    /*background-color: red;*/
    animation-name: stretch;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.0);
        border-radius: 100%;
    }

    50% {}

    100% {
        transform: scale(1.1);
    }
}


.bg-info {
    background: #ffba17 !important;
}

.bg-primary {
    background: #0786be !important;
    font-weight: 400 !important;
}

.btn-danger {
    padding: 5px 20px !important;
    font-size: 16px !important;
    border-radius: 5 !important;
}

.btn-danger:hover {
    color: #fff !important;
    background: #333;
}

#footer-wrapper {
    width: 100%;
    font-size: 13px;
    color: #5e5d5d;
    padding-top: 10px;
    margin-top: 30px;
}

#footer-wrapper h3 {
    padding: 0px;
    color: #604400;
    font-size: 20px !important;
    font-weight: 500 !important;
    text-transform: capitalize;
    border: 0;
}

#footer-wrapper ul {
    margin: 0px;
    list-style: none;
    padding: 0;
}

#footer-wrapper ul li {
    color: #422f01;
    background:
        /*savepage-url=../images/icon.png*/
        var(--savepage-url-15) left no-repeat;
    line-height: 20px;
    padding-left: 20px;
}

#footer-wrapper ul li a {
    color: #422f01;
}

#footer-wrapper ul li a:hover {
    color: #000 !important;
}

#footer-wrapper .help {
    margin-top: 25px;
}

#footer-wrapper .help strong {
    font-size: 22px;
    color: #604400;
    line-height: 25px;
}

#footer-wrapper .help span {
    display: block;
    background: #fcdb8b;
    border-radius: 6px;
    padding: 5px;
    color: #604400;
    text-align: center;
    font-size: 14px;
    width: 135px;
    line-height: 18px;
}

#footer-wrapper .designby {
    font-size: 12px;
    margin-top: 10px;
    padding: 5px;
    border-top: #cc981d 1px solid;
    text-align: center;
    color: #674901;
    line-height: 25px;
}

.Ezy-Pay {
    border: #0786be 1px solid;
    border-bottom: #0786be 3px solid;
    color: #333;
    border-radius: 5px;
    text-align: center;
    margin-top: 25px;
}

.Ezy-Pay a {
    color: #333;
    display: block;
    padding: 5px 15px;
}

.Ezy-Pay span {
    display: block;
    font-size: 10px;
    line-height: 11px;
}

.Ezy-Pay a:hover {
    color: #fdbc23;
}

.Saving-Account {
    text-align: center;
    margin-top: 15px;
    background: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
    border-bottom: #f75443 2px solid;
}

.Saving-Account h3 {
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    margin: 0;
}

.Saving-Account a {
    display: block;
    padding: 10px;
    color: #fff;
}

.Saving-Account a:hover {
    background: #ff6656;
}

.Saving-Account2 {
    text-align: center;
    margin-top: 15px;
    background: #fdbc23;
    box-shadow: 0px 5px 0px 0px #eaa502;
    border-bottom: #fdc33b 2px solid;
}

.Saving-Account2 h3 {
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    margin: 0;
}

.Saving-Account2 a {
    display: block;
    padding: 10px;
    color: #fff;
}

.Saving-Account2 a:hover {
    background: #fdb611;
}

.Saving-Account3 {
    text-align: center;
    margin-top: 15px;
    background: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15b358;
    border-bottom: #35d679 2px solid;
}

.Saving-Account3 h3 {
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    margin: 0;
}

.Saving-Account3 a {
    display: block;
    padding: 10px;
    color: #fff;
}

.Saving-Account3 a:hover {
    background: #48e68b;
}

.form-box {
    margin: 20px 0;
    background: #fdbc239c;
    padding: 25px 20px 10px;
}

.form-box label {
    font-weight: 400;
}

.modal-content {
    background-color: #0786be !important;
    color: #fff;
    padding: 15px 30px !important;
    border-radius: 20px !important;
}

.modal-header {
    border-bottom: 1px solid #fb7852 !important;
}

.modal-footer {
    border-top: 1px solid #fb7852 !important;
}

.modal-footer {
    text-align: center !important;
}

.modal-title {
    color: #fff900;
    font-size: 20px;
}

.close {
    font-size: 25px !important;
    opacity: .7 !important;
    color: #fff !important;
}

.btn-primary {
    color: #333 !important;
    background-color: #ffc000 !important;
    border-color: #ffc000 !important;
}

#Registration {
    background: #f3f3f3;
    padding: 10px 15px;
    border-radius: 10px;
}

#Registration h2 {
    background: #0786be;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
}

label {
    font-weight: 400 !important;
}

#blink_text {
    color: #000;
    animation: blink 1s infinite;
}

#blink_text:hover {
    color: #0786be;
}

.ajax__calendar .ajax__calendar_container {
    z-index: 99
}

@keyframes blink {
    50% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.btn-rounded {
    border-radius: 30px !important;
}

.btn-img_radio img {
    margin: 0 10px;
}

.btn-img_radio label {
    line-height: 30px;
}

.btn-img_radio label label {
    display: none;
}

.col-center {
    float: none !important;
    margin: 0 auto;
}

.buttommatter {
    background-color: #eee;
    color: #666;
    padding: 10px 0px;
    line-height: 1.4;
    font-size: 12px;
}

.buttommatter a {
    color: #666;
}

.buttommatter a:hover {
    color: #000;
}

.buttommatter .company {
    text-align: right;
}

.buttommatter img {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    height: 30px;
    margin: 0 5px;
}

.company-under-row {
    display: table;
}

.company-under-col {
    display: table-cell;
    vertical-align: top;
}

@media (min-width:769px) and (max-width:968px) {
    header .logo {
        width: 40%;
    }

    .slicknav_menu {
        display: block;
    }

    #menu {
        display: none;
    }

    #banner-bott {
        display: none;
    }
}

@media (min-width:200px) and (max-width:768px) {
    header .logo {
        width: 40%;
    }

    #wrapper-header #right .media {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    #menu {
        display: none;
    }

    #banner-bott {
        display: none;
    }

    h2 {
        width: 100%;
        border: 0;
    }

    h2 span a {
        position: initial;
        margin: 0;
    }

    #main-box {
        margin-top: 10px
    }

    .income {
        height: auto;
    }

    .income2 {
        height: auto;
    }

    #footer-wrapper {
        background-image: none;
    }

    .img-right {
        float: none;
        margin-left: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .Ezy-Pay {
        margin-top: -100px;
    }

    .Ezy-Pay span {
        display: none;
    }

    .Ezy-Pay span {
        padding: 5px 10px;
    }

    #blink_text {
        font-size: 12px;
    }
}


@media(max-width:768px) {
    .buttommatter {
        text-align: center;
    }

    .buttommatter .company {
        float: none;
        margin: 0 auto;
    }

    .buttommatter .company {
        padding-top: 5px;
        margin-top: 5px;
        border-top: 1px solid #ccc;
    }

    .company-under-row {
        display: table;
        margin: 0 auto;
    }

    .company-under-col {
        padding: 2px 0px;
    }
}

@media(min-width:769px) {
    .buttommatter .company {
        float: right;
    }

    .company-row {
        display: table;
    }

    .company-col {
        display: table-cell;
        vertical-align: top;
    }
}