.app{
  font-family:"Google Sans Display",Arial,Helvetica,sans-serif;
}
.container-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-project {
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  color: #363636;
}

.sub-title {
  font-size: 30px;
}

hr {
  background-color: #f5f5f536;
  border: none;
  display: block;
  height: 0.1px;
  margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
  .hero.is-info .title {
      font-size: 30px !important;
  }

  .hero.is-info .title-sub {
      font-size: 16px !important;
  }

  .cv_class {
      width: 30px;
  }

  .section {
      background-color: rgba(247, 247, 248);
      padding: 0.8rem 1rem;
      color: rgba(52, 53, 65);
      max-width: 25rem;
      border-radius: 0.375rem;
  }

  .project-header-title {
      font-size: 1.1rem !important;
  }

  .project-header-sub-title {
      font-size: .8em !important;
  }
}
.tags:not(:last-child) {
  margin-bottom: 0;
}

.hero.is-info .title {
  font-size: 3rem;
}
#ctre_wnd {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 360px;
  padding: 10px 20px;
  box-sizing: content-box;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  z-index: 2147483647;
  font-size: 12px;
  color: #666;
}

#ctre_wnd * {
  line-height: 1.3;
  font-size: inherit;
  color: inherit;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  cursor: default;
}

#ctre_wnd a,
#ctre_wnd input[type=checkbox] {
  cursor: pointer;
}

#ctre_wnd .ct_minimize,
#ctre_wnd .ct_close {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  transition: color 0.3s, background 0.3s;
}

#ctre_wnd .ct_minimize {
  right: 32px;
  background: #fff;
  color: #0fb4d4;
}

#ctre_wnd .ct_minimize:hover {
  background: #0fb4d4;
  color: #fff;
}

#ctre_wnd .ct_minimize i {
  display: inline-block;
  cursor: pointer;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

#ctre_wnd .ct_close {
  color: #f00;
  background: #fff0f0;
}

#ctre_wnd .ct_close:hover {
  color: #fff;
  background: #f00;
}

#ctre_wnd .key {
  display: inline-block;
  font-family: monospace;
  background: #f7f7f7;
  color: #999;
  padding: 0 2px;
  margin: 0 2px;
  border: solid 1px #d5d5d5;
  border-radius: 3px;
}

#ctre_wnd .ct_logo {
  font-size: 15px;
  font-weight: bold;
}

#ctre_wnd .ct_logo.small {
  display: none;
}

#ctre_wnd .ct_logo svg {
  fill: #666;
  vertical-align: -15%;
  transform: rotate(-240deg);
  transition: transform 1s;
}

#ctre_wnd .ct_logo.anim svg {
  transform: rotate(0deg);
}

#ctre_wnd .version {
  color: #bbb;
}

#ctre_wnd .keys {
  font-size: 11px;
  overflow: hidden;
  margin-top: 4px;
  color: #bbb;
}

#ctre_wnd .activationKeys {
  float: left;
}

#ctre_wnd .transposeKeys {
  float: right;
}

#ctre_current_elm {
  font-family: monospace;
  background: #f7f7f7;
  color: #d5d5d5;
  padding: 2px;
  margin: 10px 0;
  max-height: 84px;
  overflow: hidden;
}

#ctre_current_elm .pathNode {
  color: #999;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
}

#ctre_current_elm .pathNode.active {
  border-bottom: solid 2px #555;
}

#ctre_elm_list {
  display: none;
  margin-top: 20px;
  max-height: 90px;
  overflow: auto;
  padding-bottom: 4px;
}

#ctre_elm_list.hasContent {
  display: block;
}

#ctre_elm_list table {
  border: 0;
  width: 100%;
  border-spacing: 0;
}

#ctre_elm_list tr {
  border: 0;
}

#ctre_elm_list tr.ct_heading td {
  color: #bbb;
}

#ctre_elm_list td {
  padding: 0;
  border: 0;
  background: #fff;
}

#ctre_elm_list td:nth-child(2) {
  text-align: center;
}

#ctre_elm_list td input {
  display: inline;
  -webkit-appearance: checkbox;
}

#ctre_elm_list td input:before,
#ctre_elm_list td input:after {
  content: none;
}

#ctre_elm_list td {
  padding: 0;
  border: 0;
  background: #fff;
}

#ctre_elm_list tr:not(.ct_heading) td:nth-child(1) {
  font-family: monospace;
}

#ctre_elm_list .ct_edit_selector {
  font-family: sans-serif;
  float: right;
  opacity: 0;
  color: #0fb4d4;
  text-decoration: none;
}

#ctre_elm_list .ct_edit_selector:hover {
  color: #000;
}

#ctre_elm_list tr:hover .ct_edit_selector {
  opacity: 1;
}

#ctre_elm_list a.ct_delete {
  color: #f00;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#ctre_elm_list a.ct_delete:hover {
  color: #fff;
  background: #f00;
}

#ctre_wnd .ct_more {
  margin-top: 20px;
  color: #bbb;
  font-size: 10px;
  text-align: center;
}

#ctre_wnd .ct_more a {
  color: #0fb4d4;
  font-size: inherit;
  text-decoration: none;
  transition: color 0.5s;
}

#ctre_wnd .ct_more a:hover {
  color: #000;
}

#ctre_wnd.minimized {
  width: 80px;
  height: 12px;
}

#ctre_wnd.minimized>* {
  display: none;
}

#ctre_wnd.minimized .ct_minimize,
#ctre_wnd.minimized .ct_close {
  display: block;
}

#ctre_wnd.minimized .ct_minimize i {
  display: inline-block;
  transform: rotate(-135deg);
}

#ctre_wnd.minimized .ct_logo.small {
  display: block;
  margin: -4px 0 0 -10px;
}

.hero.is-info {
  background-color: #ffffff;
}

.hero.is-info .title {
  color: rgba(52, 53, 65);
}
.blink_me {
  color:green;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
.title{
  font-weight:100 !important;
}

.body_class{
  font-family:"Google Sans Display",Arial,Helvetica,sans-serif
}

.tech-stack{
  background-color: #6c6c6cc9 !important;
  color: #ffffff !important;
  font-size: .7rem !important;
  height: 1.7em !important;
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
}

.is-success{
  background-color: #4c9766 !important;
}

.is-light-orange {
  background-color: #d19066 !important;
  color: #ffffff !important;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 6px;
  border: 1px solid #aaa;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  
  /* background-color: #aaa; */
}

.tags .tag{
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 0px 0px;
  margin-bottom: 0.8rem !important;
}

.rs-btn-subtle{
  background-color: #e5e5ea !important;
}

/* .rs-drawer-header .rs-drawer-header-close{
  left: 30px;
} */